<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>taxiTipArray</key>
	<array>
		<real>0.19</real>
		<real>0.21</real>
		<real>0.25</real>
	</array>
	<key>quickTipArray</key>
	<array>
		<real>0</real>
		<integer>0</integer>
		<integer>0</integer>
	</array>
	<key>salonTipArray</key>
	<array>
		<real>0.1</real>
		<real>0.2</real>
		<real>0.25</real>
	</array>
	<key>diningTipArray</key>
	<array>
		<real>0.1</real>
		<real>0.18</real>
		<real>0.22</real>
	</array>
	<key>deliveryTipArray</key>
	<array>
		<real>0.15</real>
		<real>0.2</real>
		<real>0.25</real>
	</array>
	<key>casinoTipArray</key>
	<array>
		<real>0</real>
		<real>0.01</real>
		<real>0.03</real>
	</array>
	<key>barTipArray</key>
	<array>
		<real>0.05</real>
		<real>0.1</real>
		<real>0.2</real>
	</array>
	<key>venueNames</key>
	<array>
		<string>quick</string>
		<string>delivery</string>
		<string>bar</string>
		<string>dining</string>
		<string>salon</string>
		<string>Delete Test 1</string>
		<string>Delete Test 2</string>
		<string>Delete Test 3</string>
	</array>
	<key>defaultVenue</key>
	<string>quick</string>
	<key>userLocalSalesTax</key>
	<integer>0</integer>
	<key>roundTotalAmountSwitchOnOff</key>
	<false/>
	<key>roundTipAmountSwitchOnOff</key>
	<false/>
	<key>tipIncludeTaxSwitchOnOff</key>
	<true/>
	<key>subtotalIsPostTaxSwitchOnOff</key>
	<false/>
	<key>useDynamicText</key>
	<false/>
	<key>displayVenueCards</key>
	<true/>
	<key>phoneBackgroundColor</key>
	<string>UIExtendedSRGBColorSpace 0.94 0.94 0.96 1</string>
	<key>phoneMainColor</key>
	<string>UIExtendedSRGBColorSpace 0.42 0.67 0.55 1</string>
	<key>phoneViewBackgroundColor</key>
	<string>UIExtendedSRGBColorSpace 1 1 1 1</string>
	<key>mainColorDark</key>
	<data></data>
	<key>backgroundColorDark</key>
	<data></data>
	<key>viewColorDark</key>
	<data></data>
	<key>changeColorAlertShown</key>
	<false/>
	<key>setupAlertShown</key>
	<false/>
	<key>useFlatStyleViews</key>
	<false/>
	<key>useClassicStyle</key>
	<false/>
</dict>
</plist>
